.blockCounter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    flex-direction: column;
    border: 3px solid rgba(248, 184, 6, 0.94);
    border-radius: 10px;
    height: 150px;
    width: 150px;
    font-family: "Helvetica Neue", sans-serif;
    background-color: rgba(1, 10, 1, 0.31);
}
.errorRed {
    color: red;
    font-size: 16px;
    font-weight: bold;
}
.button {
    width: 50px;
    height: 22px;
    color: #050505;
    border-width: 3px 0;
    /*border-style: solid none;*/
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    vertical-align: 2px;
}
.button:hover {
    color: #000000;
    border-color: #ffc54f #000 #ff8e14;
    background: linear-gradient(#ffcc14, #fabb1a) #fdcc37;
}
.setBlock {
    border: 2px solid #8d6501;
    height: 30px;
    width: 110px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}
.input {
    width: 50px;
}
.settings{
    font-size: 15px;
    font-weight: bold;
    height: 90px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: column;
    border: 2px solid #8d6501;
    border-radius: 5px;
}