.blockCounter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    flex-direction: column;
    border: 3px solid rgba(248, 184, 6, 0.94);
    border-radius: 10px;
    height: 150px;
    width: 150px;
    /*background-color: red;*/
}
.blockButton {
    display: flex;
    border: 2px solid rgba(198, 147, 13, 0.73);
    height: 30px;
    width: 110px;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.errorRed {
    color: red;
    font-size: 16px;
    font-weight: bold;
}
.button {

}
.value {
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #8d6501;
    border-radius: 5px;
}
.setBlock {
    border: 2px solid #8d6501;
    height: 30px;
    width: 110px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}
.input {
    width: 50px;
}
.settings{
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #8d6501;
    border-radius: 5px;
}