.blockCounter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*align-content: space-around;*/
    flex-direction: column;
    border: 3px solid #01088d;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}
.blockButton {
    display: flex;
    border: 2px solid #01088d;
    height: 30px;
    width: 110px;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.errorRed {
    color: red;
    font-size: 16px;
    font-weight: bold;
}
.button {

}
.value {
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #01088d;
}